<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0; url={{ "blog/" | absURL }}">
  <link rel="canonical" href="{{ "blog/" | absURL }}">
  <style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }
  @media (prefers-color-scheme: dark) {
    body { background-color: #111111; color: #888888; }
  }
  @media (prefers-color-scheme: light) {
    body { background-color: #fafafa; color: #666666; }
  }
</style>
</head>
<body>
  또 다른 흔한 백엔드 개발자의 블로그입니다.
</body>
</html>